body {
  padding: 0%;
  margin: 0%;
  font-family: Montserrat;
  background-color: #e5e5e5;
}
.page_wrapper{
  width: 100%;
  height: 100%;
  background-color: #e5e5e5 !important;
  color: black !important;
  padding: 1%;
}
.active{
  color: blue !important;
  font-weight: bolder !important;
}
#act{
  color: blue !important;
  border-left: 2px solid blue;
  height: 30px;
  left: 2%;
  margin-left: -7%;
}
#non_act{
  color: black !important;
}
.container{
    background-color: #e5e5e5;
    height: 100% !important;
    width: 90% !important;
}
.container-fluid{
    background-color: red;
    height: 100% !important;
}
/* Row style*/
.sanwopay {
  font-weight: bolder;
  color: blue;
  margin-top: 10% !important;
  font-family: gilroy !important;
}

/* Side nav style */
.nav {
  font-weight: bold;
  font-style: normal;
  color: black;
  padding: 5%;
}
.space {
  margin-top: 30%;
}
.setting{
  margin-left: 20% !important;
  font-family: Montserrat;
  font-size: 16px !important;
}
a:hover {
  text-decoration: none !important;
  background-color: blue !important;
  color: white !important;
}
#line {
  background-color: rgb(131, 131, 131) !important;
}
.space2 {
    margin: 35%;
  }
nav{
    background-color: white;
    padding: 2%;
}
.col-10{
    background-color: #e5e5e5;
}
.head-text{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 5%;
}
.control{
  align-items: flex-end !important;
  border-bottom: none !important;
  border-top: none !important;
  border-left: none !important;
  background-color: none !important;
  border-right: none !important;
  width: 40% !important;
  padding: 0.7%;
}
#little{
  padding: 1% !important;
  margin-left: 2% !important;
}
.back{
  background-color: white;
  height: 500px;
}
#img_style{
  width: 40px;
  height: 43px;
}

/* Setting Page Style Start */
.setting{
  font-weight: bold !important;
  font-size: 25px;
}
.notification{
  font-weight: bold;
  font-size: 15px;
}
.sm-con{
  width: 70% !important;
  height: 200px !important;
  /* background-color:black; */
}
/* Toggle button style start */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 50px;
}
.slider.round:before {
  border-radius: 50%;
}
/* Toggle button style ends */
/* Btn svae changes */
.btn-md{
  text-align: center;
  }
  /* Btn save changes */
/* Setting Page Style End */
